#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 4rem;
  text-align: center;
  background: rgb(84,255,215);
  background: linear-gradient(43deg, rgba(84,255,215,0.5954424005930496) 0%, rgba(19,255,29,0.7046860980720413) 100%);
  color: black;
  border-radius: 10%;
}
.icons{
  display: flex;
  justify-content: center;
  gap: 35px;
}
.custom-icon{
  border: solid black 2px;
  border-radius: 100%;
  padding: 12px;
  cursor: pointer;
}
button{
  margin-top: 10px;
}